@font-face {
  font-family: 'segoe_printregular';
  src: url('fonts/1428355-webfont.eot');
  src: url('fonts/1428355-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/1428355-webfont.woff') format('woff'),
  url('fonts/1428355-webfont.ttf') format('truetype'),
  url('fonts/1428355-webfont.svg#segoe_printregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hagin_caps_mediumregular';
  src: url('fonts/hagin_caps_medium-webfont.eot');
  src: url('fonts/hagin_caps_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/hagin_caps_medium-webfont.woff') format('woff'),
  url('fonts/hagin_caps_medium-webfont.ttf') format('truetype'),
  url('fonts/hagin_caps_medium-webfont.svg#hagin_caps_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'five_minutesregular';
  src: url('fonts/five_minutes-webfont.eot');
  src: url('fonts/five_minutes-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/five_minutes-webfont.woff') format('woff'),
  url('fonts/five_minutes-webfont.ttf') format('truetype'),
  url('fonts/five_minutes-webfont.svg#five_minutesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{outline:none !important;margin:0;padding:0;}
html, body {height:100%;width:100%;}
body {margin:0px;padding:0px;background: #cdc2bc url(../i/bg-page01.jpg) 50% 0;}
html, body, td, th {font: 17px/1.2em Arial, Helvetica, sans-serif;color:#000;}

table {border-collapse:collapse;}
table td {padding:0 10px 5px 0;}
form {margin:0;padding:0;}
a {color:#3f6b9f;text-decoration:none;}
a:hover, a:focus {color:#507fb7;text-decoration:none;}
img {border:none;}
p {margin:0 0 25px 0;line-height:24px;}
input[type=text], input[type=password], input[type=number], select, option, textarea {font:15px Lato, Arial, sans-serif;background:#fff;color:#000;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 10px;}
input[type=text], input[type=password], input[type=number], select, option, .form-control {line-height:40px !important;height:40px !important;padding:0px 10px;}
input, select, textarea {border-radius:5px;border:1px solid #97a0ad;}
input[type=checkbox], input[type=radio] {border-radius:0;border:none;}
textarea {resize:vertical;}
textarea.form-control {height:auto !important;line-height:18px !important;}
input:focus, select:focus, option:focus, textarea:focus {background:#fff}

img {max-width:100%;}

h1, h2.h1 {font:700 30px/40px Raleway, Arial, sans-serif;color:#333;margin:0 0 20px 0px;padding:0;}
h2, h1.h2 {font:600 18px Raleway, Arial, sans-serif;color:#333;margin:0 0 10px 0px;padding:0;}
h3 {font:bold 15px/24px Arial, Helvetica, sans-serif;color:#333;margin:0;padding:0;text-transform:uppercase;}
h4 {font:13px "Lato", Arial, sans-serif;color:#000;margin:0 0 0px 0;padding:0;}

ul {padding:0;margin:0 0 15px;}
ul li {list-style:none;background:url() no-repeat 0 7px;margin:0 0 8px 0;position:relative;padding:0 0 0 17px;}

ul.whithout li:before {display:none;}

.icon {vertical-align:middle;}

.clear {clear:both;}

div.select {position:relative;}
div.select input {width:100%;position:relative;padding-right:30px;line-height:40px !important;height:40px !important;}
div.select select {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);height:40px;line-height:40px;left:0;opacity:0;position:absolute;top:0;width:100%;z-index:2;}
div.select select option {background:none;border:none;}
div.select:after {display:block;content:" ";top:19px;right:10px;position:absolute;z-index:1;width:0;height:0;border-style:solid;border-width:5px 5px 0 5px;border-color:#999 transparent transparent transparent;}
div.select:hover input {}

#body {position:relative;min-height:100%;height:auto !important;height:100%;margin:0 auto;}
#holder {height:0;clear:both;}
#footer {position:relative;width:100%;margin-top:-100px;}

.fixed {max-width:1180px;padding:0 20px;margin:0 auto;position:relative;}
.rows {overflow:hidden;}

.form-control {height:40px;line-height:40px;}

.row-small-padding, .row-small-padding .row {margin:0 -5px;}
.row-small-padding .col-xs-1, .row-small-padding .col-md-1,
.row-small-padding .col-xs-2, .row-small-padding .col-md-2,
.row-small-padding .col-xs-3, .row-small-padding .col-md-3,
.row-small-padding .col-xs-4, .row-small-padding .col-md-4,
.row-small-padding .col-xs-5, .row-small-padding .col-md-5,
.row-small-padding .col-xs-6, .row-small-padding .col-md-6,
.row-small-padding .col-xs-7, .row-small-padding .col-md-7,
.row-small-padding .col-xs-8, .row-small-padding .col-md-8,
.row-small-padding .col-xs-9, .row-small-padding .col-md-9,
.row-small-padding .col-xs-10, .row-small-padding .col-md-10,
.row-small-padding .col-xs-11, .row-small-padding .col-md-11,
.row-small-padding .col-xs-12, .row-small-padding .col-md-12
{padding-right:5px;padding-left:5px;}

.row-middle-padding, .row-middle-padding .row {margin:0 -10px;}
.row-middle-padding .col-xs-1, .row-middle-padding .col-md-1,
.row-middle-padding .col-xs-2, .row-middle-padding .col-md-2,
.row-middle-padding .col-xs-3, .row-middle-padding .col-md-3,
.row-middle-padding .col-xs-4, .row-middle-padding .col-md-4,
.row-middle-padding .col-xs-5, .row-middle-padding .col-md-5,
.row-middle-padding .col-xs-6, .row-middle-padding .col-md-6,
.row-middle-padding .col-xs-7, .row-middle-padding .col-md-7,
.row-middle-padding .col-xs-8, .row-middle-padding .col-md-8,
.row-middle-padding .col-xs-9, .row-middle-padding .col-md-9,
.row-middle-padding .col-xs-10, .row-middle-padding .col-md-10,
.row-middle-padding .col-xs-11, .row-middle-padding .col-md-11,
.row-middle-padding .col-xs-12, .row-middle-padding .col-md-12
{padding-right:10px;padding-left:10px;}

.btn {border-radius:100px;box-shadow:inset 0 1px 0 rgba(255,255,255, 0.3);height:40px;line-height:40px;padding:5px 30px 0;color:#424b59;background:#eaeef1;
	background: -moz-linear-gradient(top, #f4f5f7 0%, #e6ebef 100%) !important;
    background: -webkit-linear-gradient(top, #f4f5f7 0%, #e6ebef 100%) !important;
    background: -o-linear-gradient(top, #f4f5f7 0%, #e6ebef 100%) !important;
    background: -ms-linear-gradient(top, #f4f5f7 0%, #e6ebef 100%) !important;
    background: linear-gradient(top, #f4f5f7 0%, #e6ebef 100%) !important;
    -webkit-transition: 0.1s ease-in-out, opacity 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out, opacity 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transition: 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
.btn:hover {color:#fff;}

.btn-red {font:23px/24px 'hagin_caps_mediumregular', Arial, sans-serif;display:inline-block;text-align:center;color:#fff;text-transform:uppercase;border-radius:5px;border-top:1px solid #fe7f61;border-bottom:3px solid #85030d;box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    background: #e30010;
    background: -moz-linear-gradient(top, #fc0012 0%, #d30110 100%) !important;
    background: -webkit-linear-gradient(top, #fc0012 0%, #d30110 100%) !important;
    background: -o-linear-gradient(top, #fc0012 0%, #d30110 100%) !important;
    background: -ms-linear-gradient(top, #fc0012 0%, #d30110 100%) !important;
    background: linear-gradient(top, #fc0012 0%, #d30110 100%) !important;
}
.btn-red:hover {
	background: #fc0012;
    background: -moz-linear-gradient(top, #ff1627 0%, #f40c1d 100%) !important;
    background: -webkit-linear-gradient(top, #ff1627 0%, #f40c1d 100%) !important;
    background: -o-linear-gradient(top, #ff1627 0%, #f40c1d 100%) !important;
    background: -ms-linear-gradient(top, #ff1627 0%, #f40c1d 100%) !important;
    background: linear-gradient(top, #ff1627 0%, #f40c1d 100%) !important;
}


.btn-green {box-shadow:0 2px 10px rgba(0,0,0,0.5);border-bottom:2px solid #127b40;padding:15px 40px;background:#1cb15c;color:#fff !important;font:22px 'hagin_caps_mediumregular', Arial, sans-serif !important;text-transform:uppercase !important;
	background: -moz-linear-gradient(top, #1dbf63 0%, #18a455 100%) !important;
    background: -webkit-linear-gradient(top, #1dbf63 0%, #18a455 100%) !important;
    background: -o-linear-gradient(top, #1dbf63 0%, #18a455 100%) !important;
    background: -ms-linear-gradient(top, #1dbf63 0%, #18a455 100%) !important;
    background: linear-gradient(top, #1dbf63 0%, #18a455 100%) !important;
}
.btn-green:hover {
	background: -moz-linear-gradient(top, #23c669 0%, #1dac5b 100%) !important;
    background: -webkit-linear-gradient(top, #23c669 0%, #1dac5b 100%) !important;
    background: -o-linear-gradient(top, #23c669 0%, #1dac5b 100%) !important;
    background: -ms-linear-gradient(top, #23c669 0%, #1dac5b 100%) !important;
    background: linear-gradient(top, #23c669 0%, #1dac5b 100%) !important;
}

.btn-big {height:60px;padding-top:0;padding-bottom:0;line-height:60px;}


.centred {position:absolute;top:50%;left:50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-dialog {position:absolute;top:50%;left:50%;
	-moz-transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
	-o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.footer {padding:20px 10px 0;}
.footer p {margin:0;font-size:12px;line-height:15px;color:#000;font-weight: bold;}
.footer a {color:#5f4535;}
.footer a:hover {text-decoration:underline;}

.contact-phone-footer {font-size:15px;line-height:30px;color:#5f4535;text-align:right;padding:0 0 20px;}
.contact-phone-footer b {font-size:30px;line-height:40px;display:block;color:#444;} 
.contact-phone-footer span {color:#444;}
.contact-phone-footer span a {color:#444;}

.zakazat-zvonok {position:absolute;top:100px;left:500px;cursor:pointer;z-index:100;}

.menu-top, .menu-top li {margin:0;padding:0;}
.menu-top {background:#3e3028;border-bottom:1px solid #000;text-align:center;}
.menu-top li, .menu-top li:before  {display:inline-block;font:18px 'hagin_caps_mediumregular', Arial, sans-serif;text-transform: uppercase;color:#dbc5b8;}
.menu-top li:before {display:inline-block;content:'/';padding:0 15px 0 10px;}
.menu-top li:first-child:before {display:none;}
.menu-top li a {color:#dbc5b8;display:inline-block;padding:5px 0;}
.menu-top li a:hover {color:#c9262d;}

.header-part {background: #00f2bc url(../i/bg-section.jpg);position:relative;}
.header-part:after {display:block;clear:both;content:'';}

.header-girl {position:relative;z-index:5;background:url(../i/header-girl.png) no-repeat -120px 0;width:654px;height:690px;}
.header-sticker {position:absolute;z-index:10;left:25px;top:29px;overflow:hidden;text-indent:-9999px;width:198px;height:210px;background:url(../i/stiker-new.png) no-repeat;}
.header-note {font-size:15px;text-transform:uppercase;color:#3d3d3d;position:relative;width:660px;height:132px;padding:10px 40px 17px 107px;margin: 0 0 0 -5px;background: url(../i/bg-ribon.png) no-repeat;}
.header-note .star-text {font-size:12px;}
.header-decor01 {position:absolute;z-index:3;left:480px;top:271px;}

.header-note-line {height:10px;background:#ffc600;clear:both;}

.header-left {float:left;}
.header-right {overflow:hidden;padding:0 30px;}

.logo {text-shadow: 0 0 1px #1f6c6c;text-align:center;color:#fff;font:bold 60px/60px 'hagin_caps_mediumregular', Arial, sans-serif;display:block;margin:0px 0 50px;padding:20px 0 0;}
.logo small {color:#fff;}

.header-part .list {padding: 0 0 0 77px;font:24px/30px 'hagin_caps_mediumregular', Arial, sans-serif;text-transform:uppercase;margin:0 0 27px ;color:#1f6d6d;overflow:hidden;}
.header-part .list li {padding:0 0 0 29px;background: url(../i/bullet01.png) no-repeat 0 2px;}

.header-ttl {font:48px/56px 'hagin_caps_mediumregular', Arial, sans-serif;color:#1f6d6d;text-shadow:0 1px 1px #8fed67;text-transform:uppercase;margin:0 0 28px;text-align:center;}

.list-articles .it {margin:0 0 50px;}
.list-articles .it a {color:#1f6c6c;display:block;margin:0 0 10px;font-size:22px;}

.price {font:48px/54px 'hagin_caps_mediumregular', Arial, sans-serif;overflow:hidden;text-transform:uppercase;margin:0 0 25px;padding:0 0 0 0px;}
.price li {float:left;width:48%;padding:0;margin:0;text-align:center;color:#fff;}
.price li:first-child {color:#1f6d6d;}
.price .top {display:block;font-size:20px;line-height:24px;}
.price .bottom {display:block;font-size:18px;line-height:24px;}
.price .old {text-decoration:line-through;color:#1f6d6d;}

.guaranty {text-align:center;margin:30px 0 0;}

.modal-guaranty h3 {text-align:center;font:30px 'hagin_caps_mediumregular', Arial, sans-serif;margin:0;}

.bottls {text-align:center;padding:50px 0 0;clear:both;position:relative;z-index:999;}
.bottls .it {display:inline-block;margin:0 0 60px -30px;position:relative;text-align:center;width:382px;}
.bottls .it .img {margin:0 0 0px;}
.bottls .it-1 {z-index:10;}
.bottls .it-2 {z-index:5;}
.bottls .it-1 img {margin:0 0 0px -20px;}
.bottls .it-2 img {margin:0 0 0px -60px;}
.bottls .it-3 img {margin:0 0 0px -70px;} 
.bottls .btn {display:inline-block;width:auto;}
.bottls .price-new {font:bold 50px/50px 'hagin_caps_mediumregular', Arial, sans-serif;color:#fff;margin:0 0 5px;text-shad-ow:0px 0px 1px #000;}
.bottls .price-new span {font-size:30px;font-weight:normal;}
.bottls .price-old {font:20px Tahoma;font-weight:normal;color:#1f6d6d;text-decoration:line-through;}

.star-text-2 {font-size:14px;line-height:18px;font-weight:bold;color:#1f6d6d;margin:0 0 30px 120px;}

.price-new-10-block {padding:0 0 100px;margin:0 0 -150px 120px;position:relative;z-index:2;}
.price-new-10-block .btn {display:inline-block;}

.price-new-10 {font:bold 50px/50px 'hagin_caps_mediumregular', Arial, sans-serif;color:#fff;margin:0 0 5px;text-shad-ow:0px 0px 1px #000;}
.price-new-10 span {font-size:30px;font-weight:normal;} 

.description {background: url(/i/bg-section02.png) no-repeat 0 0;position:relative;}
.description .decor {background: url(/i/decor0322.png) no-repeat 0 0;width:250px;height:170px;background-size:cover;position:absolute;top:100px;left:-120px;}
.description .promo {background: url(/i/bg-promo.png) no-repeat 50% 170px;padding:220px 140px 90px;}
.description .promo h2 {font:53px/58px 'five_minutesregular', Times, serif;text-transform:uppercase;color:#fd0012;margin: 0 0 25px;}
.description .promo p {font-size:15px;line-height:1.3;}
.description .slogan {font:bold 30px/1.2 'five_minutesregular', Arial, sans-serif;margin: 0 0 39px;padding: 0 65px 0 80px;color: #fa0012;}
.description .star-text-3 {font-size:12px;margin:50px 0 0;padding:0 50px;}

.info {clear:both;background: #fff;padding: 20px 80px 30px 80px;color:#5f4535;}
.info h2 {font:normal 36px/42px 'hagin_caps_mediumregular', Arial, sans-serif;color:#1f6c6c;text-align:center;margin: 0 0 20px;}
.info h3 {font:bold 16px/24px Arial, Helvetica, sans-serif;color: #000;margin: 0 0 8px;text-transform: uppercase;}
.info img {float:left;margin:0 20px 20px 0;}

.num-list, .num-list li {margin:0;padding:0;}
.num-list {line-height:24px;overflow:hidden;counter-reset:item;}
.num-list ol {margin:0;}
.num-list li {padding:0 0 12px;}
.num-list li:before, .num-list .num {float:left;width:22px;height: 22px;border-radius: 11px;margin:0 10px 0 0;color:#fff;text-align: center;background:#1f6c6c;content:counters(item, ".") " ";counter-increment:item;}

.list li {padding: 0 0 0 29px;background: url(/i/bullet01.png) no-repeat 0 2px;}
.list_blue {font:16px/23px Arial, Helvetica, sans-serif;text-transform: none;color: #5f4535;margin: 0 0 5px;}
.list_blue li {background: url(/i/bullet02.png) no-repeat 0 5px;padding: 0 0 7px 29px;}

.important {font:bold 25px/22px Arial, Helvetica, sans-serif;padding:0px;color:#5f4535;}
.important a {float:left;display:block;margin:0 10px 0 0;}
.important p {display:block;padding:30px 0;text-transform:uppercase;}

.composition {background:#f2faf6;padding:30px 105px;}
.composition h2 {font:70px 'hagin_caps_mediumregular', Arial, sans-serif;text-align:center;color:#1f6c6c;}
.composition img {border:5px solid #f8b701;border-radius:100px;float:left;box-sha-dow:0 0 30px rgba(69,32,0, 0.3);}
.composition h3 {margin:10px 0;}
.composition h3, .composition p {margin-left:170px;}
.composition p {font:15px/22px Arial;text-transform:none;color:#000;}
.composition .it {clear:both;over-flow:hidden;margin:0 0 0px;padding:30px 0 0;}

.page {background:#338d66 url(../i/comments-fon.png);padding:70px 120px;}
.page h1 {font:60px 'hagin_caps_mediumregular', Arial, sans-serif;text-align:center;color:#1f6c6c;margin:0 0 30px;}
.page h2 {font:50px 'hagin_caps_mediumregular', Arial, sans-serif;text-align:center;color:#1f6c6c;margin:0 0 30px;}
.page h3 {font:40px 'hagin_caps_mediumregular', Arial, sans-serif;text-align:center;color:#1f6c6c;margin:0 0 30px;}
.page p {margin:0 0 30px;}
.page .data {background:#fff;box-shadow:0 0 50px rgba(0,0,0,0.3);}
.page .grad {padding:50px 70px;
	background: linear-gradient(to top, rgba(0,0,0,0.1) 0%, #fff 20%, #fff 80%, rgba(0,0,0,0.1) 100%);
}

.comments * {font:17px/24px Arial, Helvetica, sans-serif;color:#000;text-transform:none;}
.comments .list {margin:0 0 80px;}
.comments .it {margin:0 0 50px;}
.comments .name {font:25px 'hagin_caps_mediumregular', Arial, sans-serif;margin:0 0 10px;}
.comments .text {padding:0 0 0 20px;}
.comments .field-commentsform-re_captcha {text-align:center;}
.comments .g-recaptcha div {display:inline-block;}
.comments .btn {width:304px;}
.comments .more {text-align:center;}
.comments .more a {text-align:center;font:20px 'hagin_caps_mediumregular', Arial, sans-serif;color:#1f6c6c;}
.comments .more a:hover {text-decoration:none;color:#2b7f7f;}
.comments-forma {max-width:600px;margin:0 auto;}
.comments-forma .submit {text-align:center;}

.text-important {background:#fff;padding:30px 80px;}
.text-important h2 {font:normal 36px/42px 'hagin_caps_mediumregular', Arial, sans-serif;color: #1f6c6c;text-align:center;margin: 0 0 20px;}
.text-important p {font-size:14px;line-height:19px;margin:0 0 10px;}

.how-we-work {text-align:center;padding:0 0 20px 0;background:#592816 url('../i/how-we-work-fon.png') repeat 0 0;box-shadow: 0 10px 10px rgba(0,0,0,0.5);}
.how-we-work h2 {color:#4b2a04;background:#fce38e;font:bold 50px/50px 'hagin_caps_mediumregular', Arial, sans-serif;padding:20px 0;margin:0 0 30px;}
.how-we-work .it {display:inline-block;color:#fff;padding:0 80px;margin:0 0 20px;width:360px;position:relative;}
.how-we-work .it img {border-radius:100px;border:5px solid #fce38e;}
.how-we-work .it:after {position:absolute;top:60px;left:-44px;display:block;content:"";width:87px;height:73px;background:url('../i/how-we-work-sep.png') no-repeat 0 0;}
.how-we-work .it:first-child:after {display:none;}
.how-we-work .it .title {padding:5px 0 0;}

.reviews {font:18px/24px 'segoe_printregular', Times, serif;padding:17px 81px 16px 105px;background: #f8b701;color: #5f4535;}
.reviews h2 {font:normal 72px/60px 'hagin_caps_mediumregular', Arial, sans-serif;margin: 0 -6px 30px;text-shadow: -1px -1px 1px #7d6f00;color: #fff;text-transform: uppercase;}
.reviews .star-text-5 {padding:0 10px;}
.reviews-list, .reviews-list li {margin:0;padding:0;}
.reviews-list {overflow:hidden;text-align:center;margin:0 -20px;}
.reviews-list .reviews-list-item {overflow:hidden;display:inline-block;width:320px;padding:0 10px;border-left: 1px solid #f3a201;vertical-align:top;}
.reviews-list .reviews-list-item:first-child {border:none;}
.reviews-list .reviews-frame {overflow:hidden;padding: 10px 15px 23px;margin:0 0 10px;border:7px solid #fff;background: #ffc82f;box-shadow: 2px 2px 0px  #c69201;text-align:center;}
.reviews-list .reviews-author {text-align:center;font:20px/30px 'hagin_caps_mediumregular', Arial, sans-serif;margin:0 0 7px;display: block;color: #51301f;text-transform: uppercase;}
.reviews-list .reviews-img {margin:0 -15px 15px;}
.reviews-list .text {text-align:left;padding:0 0 0 10px;}
.reviews-val {font:14px/17px Arial, Helvetica, sans-serif;color: #686868;overflow: hidden;}
.reviews-val li {margin:0;padding:0;display:inline-block;}
.reviews-val strong {display: block;font:normal 95px/110px 'hagin_caps_mediumregular', Arial, sans-serif;color: #5b4131;}
.reviews-val em {font-style: normal;  display: block;  padding: 0 15px;}

.order {position: relative;z-index: 1;padding: 26px 155px 50px;background:#5f4535 url(/i/bg-section04.jpg);
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
.order h2 {font:normal 36px/42px 'hagin_caps_mediumregular', Arial, sans-serif;margin: 0 0 27px;color: #f8b701;text-align: center;text-shadow: 0 2px 2px rgba(0,0,0,0.8);text-transform: uppercase;}
.order h2 .mark-new {color: #fff;}
.order h3 {font:normal 72px/60px 'hagin_caps_mediumregular', Arial, sans-serif;color: #fff;  margin: 0 0 15px;  text-shadow: 0 2px 2px rgba(0,0,0,0.8);  text-transform: uppercase;}
.order h4 {font:normal 21px/24px 'hagin_caps_mediumregular', Arial, sans-serif;color: #f8b701;margin: 0 0 5px;text-transform: uppercase;}
.order h4 small {font-size:18px;color:#f8b701;}
.order h4.white {color:#fff;}

.order .result-form {padding:250px 0;}

.order-price {font:bold 80px/90px 'hagin_caps_mediumregular', Arial, sans-serif;color:#fff;display:block;text-shadow:0 2px 2px rgba(0,0,0,0.8);margin: 0 0 -6px;padding: 21px 0 0;}

.order-sale {font:normal 40px/45px 'hagin_caps_mediumregular', Arial, sans-serif;color: #f8b701;display: block;color: #f8b701;text-shadow: 0 2px 2px rgba(0,0,0,0.8);margin: 0 0 30px;}
.order-sale em {font-style:normal;text-decoration: line-through;}

.order-form {margin:0 0 20px;}
.order-form input {width:100%;}
.order-form .btn-big {width:100%;}

.countdownHolder {display: block;vertical-align: top;width:364px;overflow: hidden;}
*+html .countdownHolder {display: inline;}
.countHours, .countMinutes {float: left;overflow: hidden;margin: 0 14px 0 0;}
.countSeconds {float: left;overflow: hidden;}
.countdownHolder .position {font:81px/90px 'hagin_caps_mediumregular', Arial, sans-serif;color: #fff;float: left;width: 52px;height: 90px;margin: 0 2px 0 0;background: url(/i/bg-num.png) no-repeat;text-align: center;position: relative;}
.countDiv {float: left;width: 25px;height: 76px;display: none;}
.countdownHolder .wrap {width: 112px;display: block;overflow: hidden;padding: 0 0 7px;}

.timer {padding: 3px 0 15px;min-height: 139px;}
.timer__txt {font-size: 10px;line-height: 15px;font-weight: normal;font-style: normal;display:block;vertical-align: top;padding: 0 0 12px;color: #fff;display: block;text-transform: uppercase;}
.timer__txt em {font-size: 12px;line-height: 15px;font-weight: normal;font-style: normal;display:block;vertical-align: top;padding: 0 ;color: #fff;}


.menu-main {width:100%;margin:0 0 0 -100%;position:fixed;top:0;right:0;bottom:0;left:0;z-index:999998;background:#3e3028;
	-webkit-transition: margin .3s ease-in-out;
	-moz-transition: margin .3s ease-in-out;
	-o-transition: margin .3s ease-in-out;
	transition: margin .3s ease-in-out;
}
.menu-main ul, .menu-main li {padding:0;margin:0;}
.menu-main ul {padding:0 20px;position:relative;z-index:10;overflow-y:auto;max-height:100%;}
.menu-main li {border-top:1px solid rgba(255,255,255, 0.1);}
.menu-main li a {position:relative;z-index:11;margin:-2px -20px;padding:10px 15px;display:block;color:#fff;font-weight:bold;border-left:3px solid transparent;}
.menu-main li a:hover, .menu-main li.active a {}
.menu-main li:before {display:none;}
.menu-main .mobile a {color:#b5c7e3;font-weight:normal;}


.header {display:none;z-index:999995;height:50px;padding:5px 5px 5px 0;background:#3e3028;border-bottom:1px solid #ced2d5;margin:0 0 10px;position:fixed;width:100%;
	-webkit-transition: margin .3s ease-in-out;
	-moz-transition: margin .3s ease-in-out;
	-o-transition: margin .3s ease-in-out;
	transition: margin .3s ease-in-out;
}
.header .menu-up-right {float:right;}
.header .menu-up-right a {font-size:20px;padding:10px;display:inline-block;color:#dbc5b8;position:relative;}
.header .menu-up-right a b {position:absolute;border-radius:20px;background:#60b234;color:#fff;font-size:10px;display:block;width:15px;height:15px;line-height:15px;text-align:center;bottom:9px;right:2px;}
.header .menu-bars-opener {float:left;font-size:20px;color:#dbc5b8;padding:10px;display:inline-block;}
.header .logo {margin:0;padding:0;font-size:17px;line-height:40px;}
.header-holder {height:50px;display:none;}

.modal-call-back .modal-dialog  {max-width:400px;}






.post {
  position: relative;
  z-index: 5;
  padding: 50px 103px 27px 104px;
  position: relative;
  background: #dce0d1 url(/i/bg-section03.jpg) no-repeat;
}
.post__logo01 {
  left: 27px;
  position: absolute;
  top: 446px;
}
.post__logo02 {
  left: 32px;
  position: absolute;
  top: 558px;
}
.post__img {
  width: 434px;
  position: relative;
  float: left;
  margin: -88px -50px -27px 22px;
}
.post__decor {
  position: absolute;
  right: 49px;
  top: 31px;
}
.post__cnt {
  font-size: 18px;
  line-height: 24px;
  font-family: 'segoe_printregular', Times, serif;
  color: #7d7d7d;
  float: right;
  width: 550px;
  padding: 0 30px;
}
.post__cnt h2 {
  font-size: 72px;
  line-height: 60px;
  font-family: 'hagin_caps_mediumregular', Arial, sans-serif;
  color: #1f6c6c;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #f6f7f3;
  margin: 0 0 33px;
  padding: 0 32px;
}

.post__box {position:relative;margin:0 0 -20px;width:550px;height:480px;padding:35px 30px 10px;background:url(/i/bg-post-box.png) no-repeat;background-size:contain;}
.post__box p {line-height:19px;}
.post__box .name {text-align:right;font-weight:bold;padding:5px 0 0;}

.post__skrepka {
  position: absolute;
  right: 43px;
  top: -19px;
  width: 29px;
  height: 68px;
  background: url(/i/skrepka.png) no-repeat;
}
.stamp01 {
  position: absolute;
  right: 19px;
  top: 321px;
}
.stamp02 {
  position: absolute;
  right: 26px;
  top: 437px;
}
.stamp03 {
  position: absolute;
  right: 27px;
  top: 556px;
}





@media only screen and (min-width: 1500px) {
	.zakazat-zvonok {position:fixed;top:100px;left:auto;right:10px;cursor:pointer;z-index:1040;}	
}

@media only screen and (max-width: 1200px)
{
	.header-girl {background-position-x:-220px;width:554px;}
	.header-decor01 {left:380px;}
	.header-note {margin-left:-105px;}
	
	.bottls .it {width:350px;}
	
	.description .promo {padding-left:100px;padding-right:100px;}
	
	.reviews {padding:20px 30px;}
	.reviews h2 {font-size:40px;text-align:center;}
	.reviews-list .reviews-list-item:first-child {display:none;}
	
	.zakazat-zvonok {left:400px;}
}

@media only screen and (max-width: 1100px)
{
	.header-girl {background-position-x:-320px;width:454px;}
	.header-decor01 {left:280px;}
	.header-note {margin-left:-205px;padding-left:207px;font-size:12px;}
	.header-note .star-text {font-size:12px;line-height:1;text-transform:none;}
	.header-right {padding: 0px 20px;}
	
	.bottls .it {width:330px;}
	
	.description .promo {padding-left:70px;padding-right:70px;}
	
	.zakazat-zvonok {left:300px;}
	
	.order {padding:20px 10px;}
}

@media only screen and (max-width: 1000px)
{
	.bottls .it {width:380px;}
	.bottls .it-2 {display:none;}
	
	.description .promo {padding-left:30px;padding-right:30px;}
	
}

@media only screen and (max-width: 900px)
{
	.header-girl {background-position-x:-420px;width:354px;}
	.header-decor01 {left:180px;}
	.header-note {margin-left:-305px;padding-left:307px;font-size:12px;}
	.header-note .star-text {display:none;}
	.header-right {padding: 0px 10px;}
	.header-ttl {display:none;}
	.logo small {font-size:30px;}
	
	.fixed {padding: 0px;}
	
	.price-new-10-block {padding:0 0 40px;margin:0 ;text-align:center;}
	.description {background:#eff0eb;}
	.description .promo {background:none;padding:30px;}
	.description .promo .right {text-align:center;}
	.description .decor {top:-130px;}
	.description .slogan {padding:0;}
	
	.header-sticker {left:10px;top:10px;}
	.zakazat-zvonok {left:200px;top:160px;}
}

@media only screen and (max-width: 767px)
{
	.logo {padding:0;margin:0 0 20px;}
	
	.bottls {padding:0;}
	.bottls .it {width:350px;}
	
	.info {padding:20px 20px;}
	.info h2 {font-size:30px;line-height:1;}
	
	.composition {padding:20px 20px;}
	.composition h2 {font-size:40px;}
	
	.page {background:none;padding:0;}
	.page .grad {padding:20px 20px;}
	
	.text-important {padding:20px 20px;}
	
	.reviews h2 {font-size:30px;text-align:center;}
	
	.order {text-align:center;}
	.countdownHolder {margin: 0 auto;}
	
	.footer {text-align:center;}
	.footer div, .footer p {text-align:center;}
	
	.header {display:block;}
	.header-holder {height:50px;display:block;}
	.menu-top {display:none;}
	
	.zakazat-zvonok {display:none;}  
	
	.header-part .list {display:none;}
	.header-part .price {display:none;}
	.header-part .guaranty {display:none;}
	.header-part .order-now {display:none;}
	
	.bottls .it-3 {display:none;}

	.header-sticker {display:none;}
	.header-girl {display:none;}
	.header-decor01 {display:none;}
	.header-note {display:none;}
	
	.star-text-2 {display:none;}
	
	.num-list {overflow:visible;}
	
	.comments .list {margin:0 0 20px;}
}

@media only screen and (max-width: 680px)
{
	.reviews-list .reviews-list-item {width:auto;border:none;}
}

@media only screen and (max-width: 450px)
{
	.composition img {margin:0 20px 20px 0;}
	.composition h3, .composition p {margin-left:0;}
	.composition .it {padding:10px 0 0;}
	
	.order .result-form {padding:100px 0;}
}

@media only screen and (max-width: 400px)
{
	.info img {float:none;margin:0 auto 20px;display:block;}
}